[access]
	inheritFrom = Public-Projects
[project]
	description = RE2 is a fast, safe, thread-friendly alternative to backtracking regular expression engines like those used in PCRE, Perl, and Python. It is a C++ library.
[access "refs/*"]
	owner = group re2-owners
	forgeCommitter = group re2-owners
[submit]
	action = cherry pick
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group re2-approvers
	submit = group re2-approvers
	editTopicName = group re2-approvers
[notify "codereviews"]
        email = re2-dev@googlegroups.com
        header = cc
